https://towardsdatascience.com/make-the-cutest-chart-in-python-visualize-your-data-with-hand-drawn-charts-f21157f76b4b

Code supported by perplexity.ai

Interactive charts <3

In [ ]:
!pip install cutecharts pandas scikit-learn

In [7]:
import pandas as pd
import cutecharts.charts as ctc

In [10]:
from sklearn import datasets

iris = datasets.load_iris()

In [23]:
# Load the Iris dataset
df_iris = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df_iris['target'] = iris.target
df_iris['species'] = df_iris['target'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [46]:
# Group by species and calculate mean values
grouped_data = df_iris.drop(['target'], axis=1).groupby('species').mean().reset_index()
grouped_data.head()

,species,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,setosa,5.006,3.428,1.462,0.246
1,versicolor,5.936,2.770,4.260,1.326
2,virginica,6.588,2.974,5.552,2.026

In [50]:
# Create a Radar chart
radar_chart = ctc.Radar('Iris Species Comparison', width='600px', height='400px')

# Set options for the chart
radar_chart.set_options(
    labels=list(grouped_data.columns[1:]),
    is_show_legend=True,
    legend_pos='upLeft'
)

# Add data series for each species
for index, row in grouped_data.iterrows():
    radar_chart.add_series(row['species'], row[1:].tolist())

# Render the chart
radar_chart.render_notebook()

# where legend?